<div style="padding-right:15px;" class="container-fluid">

  <!-- form header -->
  <div class="row">
    <div class="col">
      <h1>{{locales.customFormTitle}}</h1>
      <hr>
    </div>
  </div>

  <!-- main form -->
  <div class="row">
    <form action="" style="width:100%;" name="personalInfoForm" #personalInfoForm="ngForm">
      <div class="col">

        <!-- personal info -->
        <div class="row">

          <!--first name-->
          <div class="col-6">
            <div class="form-group">
              <label>{{locales.firstNameTitle}}</label>
              <input type="text"
                     matInput
                     class="form-control"
                     name="firstName"
                     [errorStateMatcher]="firstNameMatcher"
                     [(ngModel)]="model.profileFirstName"
                     placeholder={{locales.firstNamePlaceholder}}>
              <mat-error *ngIf="model.error['firstName'] === 'short'">{{locales.shortError}}</mat-error>
              <mat-error *ngIf="model.error['firstName'] === 'notValid'">{{locales.pattern}}</mat-error>
            </div>
          </div>

          <!--last name-->
          <div class="col-6">
            <div class="form-group">
              <label>{{locales.lastNameTitle}}</label>
              <input type="text"
                     matInput
                     class="form-control"
                     name="lastName"
                     [errorStateMatcher]="lastNameMatcher"
                     [(ngModel)]="model.profileLastName"
                     placeholder={{locales.lastNamePlaceholder}}>
              <mat-error *ngIf="model.error['lastName'] === 'short'">{{locales.shortError}}</mat-error>
              <mat-error *ngIf="model.error['lastName'] === 'notValid'">{{locales.pattern}}</mat-error>
            </div>
          </div>
        </div>


        <!-- seperator -->
        <div class="row">
          <div class="col">
            <hr>
          </div>
        </div>


        <!-- address form portion -->
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-12">
                <div class="row">
                  <div class="col-8">
                    <h4>{{locales.address}}</h4>
                  </div>
                  <div class="col-4 control-buttons">
                    <img src="/assets/icons/add.svg">
                    <img src="/assets/icons/remove.svg"
                         width="24"
                         height="24">
                  </div>
                </div>
                <hr>
              </div>

              <!--is primary-->
              <div class="col-12" style="margin-bottom: 1rem;">
                <div class="form-check">
                  <input class="form-check-input"
                         type="checkbox"
                         name="primaryAddress"
                         [(ngModel)]="model.primaryAddress">
                  <label class="form-check-label">
                    {{locales.isPrimaryCheckbox}}
                  </label>
                </div>
              </div>

              <!--street address-->
              <div class="col-12">
                <div class="form-group">
                  <label>{{locales.streetAddressTitle}}</label>
                  <input type="text"
                         class="form-control"
                         name="streetAddress"
                         matInput
                         [errorStateMatcher]="streetAddressMatcher"
                         [(ngModel)]="model.profileStreetAddress"
                         placeholder={{locales.streetAddressPlaceholder}}>
                  <mat-error *ngIf="model.error['streetAddress'] === 'short'">{{locales.shortError}}</mat-error>
                  <mat-error *ngIf="model.error['streetAddress'] === 'notValid'">{{locales.pattern}}</mat-error>
                </div>
              </div>

              <!--city address-->
              <div class="col-12">
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label>{{locales.cityAddressTitle}}</label>
                      <input type="text"
                             class="form-control"
                             matInput
                             name="cityAddress"
                             [errorStateMatcher]="cityAddressMatcher"
                             [(ngModel)]="model.profileCityAddress"
                             placeholder={{locales.cityAddressPlaceholder}}>
                      <mat-error *ngIf="model.error['cityAddress'] === 'short'">{{locales.shortError}}</mat-error>
                      <mat-error *ngIf="model.error['cityAddress'] === 'notValid'">{{locales.pattern}}</mat-error>
                    </div>
                  </div>

                  <!--state address-->
                  <div class="col">
                    <div class="form-group">
                      <label>{{locales.stateAddressTitle}}</label>
                      <select class="form-control"
                              name="stateAddress"
                              [(ngModel)]="model.profileStateAddress">
                        <option *ngFor="let item of states" [value]="item">{{item}}</option>
                      </select>
                    </div>
                  </div>

                  <!--zip address-->
                  <div class="col">
                    <div class="form-group">
                      <label>{{locales.zipCodeTitle}}</label>
                      <input type="text"
                             class="form-control"
                             name="zipCode"
                             matInput
                             [errorStateMatcher]="cityAddressMatcher"
                             [(ngModel)]="model.profileZipCodeAddress"
                             placeholder={{locales.zipCodePlaceholder}}>
                      <mat-error *ngIf="model.error['zipCode'] === 'short'">{{locales.shortError}}</mat-error>
                      <mat-error *ngIf="model.error['zipCode'] === 'notValid'">{{locales.pattern}}</mat-error>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- seperator -->
        <div class="row">
          <div class="col">
            <hr>
          </div>
        </div>

        <!-- final action buttons -->
        <div class="row justify-content-center">
          <div class="col-2">
            <button type="button"
                    class="btn btn-primary"
                    (click)="submit()">
              {{locales.buttonTitle}}
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
