<div style="padding-right:15px;" class="container-fluid">

  <!-- form header -->
  <div class="row">
    <div class="col">
      <h1>{{locales.reactiveFormTitle}}</h1>
      <hr>
    </div>
  </div>

  <!-- main form -->
  <div class="row">
    <form [formGroup]="registrationForm" style="width:100%;">
      <div class="col">

        <!-- first name -->
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>{{locales.firstNameTitle}}</label>
              <input type="text"
                     class="form-control"
                     placeholder={{locales.firstNamePlaceholder}}
                     formControlName={{registrationControls.firstName}}>
              <small class="form-text custom-invalid-feedback"
                     *ngIf="registrationForm.controls[registrationControls.firstName].getError('required') &&
                     registrationForm.controls[registrationControls.firstName].touched">
                {{locales.requiredError}}
              </small>
              <small class="form-text custom-invalid-feedback"
                     *ngIf="registrationForm.controls[registrationControls.firstName].getError('minlength') &&
                     registrationForm.controls[registrationControls.firstName].touched">
                {{locales.shortError}}
              </small>
              <small class="form-text custom-invalid-feedback"
                     *ngIf="registrationForm.controls[registrationControls.firstName].getError('maxlength') &&
                     registrationForm.controls[registrationControls.firstName].touched">
                {{locales.longError}}
              </small>
              <small class="form-text custom-invalid-feedback"
                     *ngIf="registrationForm.controls[registrationControls.firstName].getError('pattern') &&
                     registrationForm.controls[registrationControls.firstName].touched">
                {{locales.pattern}}
              </small>
            </div>
          </div>

          <!-- last name -->
          <div class="col">
            <div class="form-group">
              <label>{{locales.lastNameTitle}}</label>
              <input type="text"
                     class="form-control"
                     placeholder={{locales.lastNamePlaceholder}}
                     formControlName={{registrationControls.lastName}}>
              <small class="form-text custom-invalid-feedback">{{locales.requiredError}}</small>
            </div>
          </div>
        </div>


        <!-- seperator -->
        <div class="row">
          <div class="col">
            <hr>
          </div>
        </div>


        <!-- address form portion -->
        <div class="row">
          <div class="col-12">
            <label class="form-check-inline reset-margin">
              {{locales.addressOptionsTitle}}
            </label>
            <!--<div class="form-check form-check-inline">-->
              <!--<input class="form-check-input"-->
                     <!--type="radio"-->
                     <!--name="inlineRadioOptions"-->
                     <!--id="inlineRadio1"-->
                     <!--value="permanent">-->
              <!--<label class="form-check-label">{{locales.addressPermanentOption}}</label>-->
            <!--</div>-->

            <!--<div class="form-check form-check-inline">-->
              <!--<input class="form-check-input"-->
                     <!--type="radio"-->
                     <!--name="inlineRadioOptions"-->
                     <!--value="temporary">-->
              <!--<label class="form-check-label">{{locales.addressCorrespondanceOption}}</label>-->
            <!--</div>-->
            <small class="form-check-inline form-text custom-invalid-feedback">
              {{locales.optionsError}}
            </small>

            <!-- seperator -->
            <div class="row">
              <div class="col">
                <hr>
              </div>
            </div>

            <!--date picker-->
            <div>
              <label class="form-check-inline">{{locales.expiryDate}}</label>
            </div>
            <div class="form-check form-check-inline">
              <input type="date"
                     class="form-control"
                     name="expiryDate"
                     formControlName={{registrationControls.date}}>
            </div>
          </div>

          <!--street-->
          <div class="col-12" style="padding-top: 30px">
            <div class="form-group">
              <label>{{locales.streetAddressTitle}}</label>
              <input type="text"
                     class="form-control"
                     placeholder={{locales.streetAddressPlaceholder}}
                     formControlName={{registrationControls.streetAddress}}>
              <small class="form-text custom-invalid-feedback">{{locales.requiredError}}</small>
            </div>
          </div>

          <!--city-->
          <div class="col-12">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>{{locales.cityAddressTitle}}</label>
                  <input type="text"
                         class="form-control"
                         placeholder={{locales.cityAddressPlaceholder}}
                         formControlName={{registrationControls.cityAddress}}>
                  <small class="form-text custom-invalid-feedback">{{locales.requiredError}}</small>
                </div>
              </div>

              <!--state-->
              <div class="col">
                <div class="form-group">
                  <label>{{locales.stateAddressTitle}}</label>
                  <select class="form-control"
                          formControlName={{registrationControls.stateAddress}}>
                    <option selected>{{locales.stateOptions}}</option>
                    <option *ngFor="let item of states"
                            [value]="item">{{item}}
                    </option>
                  </select>
                  <small class="form-text custom-invalid-feedback">{{locales.requiredError}}</small>
                </div>
              </div>

              <!--zip code-->
              <div class="col">
                <div class="form-group">
                  <label>{{locales.zipCodeTitle}}</label>
                  <input type="text"
                         class="form-control"
                         placeholder={{locales.zipCodePlaceholder}}
                         formControlName={{registrationControls.zipCodeAddress}}>
                  <small class="form-text custom-invalid-feedback">{{locales.requiredError}}</small>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- seperator -->
        <div class="row">
          <div class="col">
            <hr>
          </div>
        </div>

        <!-- final action buttons -->
        <div class="row justify-content-center">
          <div class="col-2">
            <button type="button" class="btn btn-primary"
                    (click)="submitForm()">
              {{locales.buttonTitle}}
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<!--[disabled]="!(registrationForm.valid && phoneVerificationForm.valid)">{{locales.ok | translate}}-->
