<div style="padding-right:15px;" class="container-fluid">

  <!-- form header -->
  <div class="row">
    <div class="col">
      <h1>{{locales.reactiveFormTitle}}</h1>
      <hr>
    </div>
  </div>

  <!-- main form -->
  <div class="row">
    <form [formGroup]="registrationForm" style="width:100%;">
      <div class="col">

        <!-- first name -->
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>{{locales.firstNameTitle}}</label>
              <input type="text"
                     class="form-control"
                     [(ngModel)]="model.firstName"
                     placeholder={{locales.firstNamePlaceholder}}
                     formControlName={{registrationControls.firstName}}>
              <small class="form-text custom-invalid-feedback"
                     *ngIf="registrationForm.controls[registrationControls.firstName].getError('required') &&
                     registrationForm.controls[registrationControls.firstName].touched">
                {{locales.requiredError}}
              </small>
              <small class="form-text custom-invalid-feedback"
                     *ngIf="registrationForm.controls[registrationControls.firstName].getError('minlength') &&
                     registrationForm.controls[registrationControls.firstName].touched">
                {{locales.shortError}}
              </small>
              <small class="form-text custom-invalid-feedback"
                     *ngIf="registrationForm.controls[registrationControls.firstName].getError('maxlength') &&
                     registrationForm.controls[registrationControls.firstName].touched">
                {{locales.longError}}
              </small>
              <small class="form-text custom-invalid-feedback"
                     *ngIf="registrationForm.controls[registrationControls.firstName].getError('pattern') &&
                     registrationForm.controls[registrationControls.firstName].touched">
                {{locales.pattern}}
              </small>
            </div>
          </div>

          <!-- last name -->
          <div class="col">
            <div class="form-group">
              <label>{{locales.lastNameTitle}}</label>
              <input type="text"
                     class="form-control"
                     [(ngModel)]="model.lastName"
                     placeholder={{locales.lastNamePlaceholder}}
                     formControlName={{registrationControls.lastName}}>
              <small class="form-text custom-invalid-feedback"
                     *ngIf="registrationForm.controls[registrationControls.lastName].getError('required') &&
                     registrationForm.controls[registrationControls.lastName].touched">
                {{locales.requiredError}}
              </small>
              <small class="form-text custom-invalid-feedback"
                     *ngIf="registrationForm.controls[registrationControls.lastName].getError('minlength') &&
                     registrationForm.controls[registrationControls.lastName].touched">
                {{locales.shortError}}
              </small>
              <small class="form-text custom-invalid-feedback"
                     *ngIf="registrationForm.controls[registrationControls.lastName].getError('maxlength') &&
                     registrationForm.controls[registrationControls.lastName].touched">
                {{locales.longError}}
              </small>
              <small class="form-text custom-invalid-feedback"
                     *ngIf="registrationForm.controls[registrationControls.lastName].getError('pattern') &&
                     registrationForm.controls[registrationControls.lastName].touched">
                {{locales.pattern}}
              </small>
            </div>
          </div>
        </div>


        <!-- seperator -->
        <div class="row">
          <div class="col">
            <hr>
          </div>
        </div>

            <!--date picker-->
            <div>
              <label class="form-check-inline">{{locales.expiryDate}}</label>
            </div>
            <div class="form-check form-check-inline">
              <input type="date"
                     class="form-control"
                     name="expiryDate"
                     [(ngModel)]="model.date"
                     formControlName={{registrationControls.date}}>
              <small class="form-text custom-invalid-feedback"
                     *ngIf="registrationForm.controls[registrationControls.date].getError('required') &&
                     registrationForm.controls[registrationControls.date].touched">
                {{locales.requiredError}}
              </small>
            </div>
          </div>

          <!--street-->
          <div class="col-12" style="padding-top: 30px">
            <div class="form-group">
              <label>{{locales.streetAddressTitle}}</label>
              <input type="text"
                     class="form-control"
                     [(ngModel)]="model.streetAddress"
                     placeholder={{locales.streetAddressPlaceholder}}
                     formControlName={{registrationControls.streetAddress}}>
              <small class="form-text custom-invalid-feedback"
                     *ngIf="registrationForm.controls[registrationControls.streetAddress].getError('required') &&
                     registrationForm.controls[registrationControls.streetAddress].touched">
                {{locales.requiredError}}
              </small>
              <small class="form-text custom-invalid-feedback"
                     *ngIf="registrationForm.controls[registrationControls.streetAddress].getError('minlength') &&
                     registrationForm.controls[registrationControls.streetAddress].touched">
                {{locales.shortError}}
              </small>
              <small class="form-text custom-invalid-feedback"
                     *ngIf="registrationForm.controls[registrationControls.streetAddress].getError('maxLength') &&
                     registrationForm.controls[registrationControls.streetAddress].touched">
                {{locales.longError}}
              </small>
              <small class="form-text custom-invalid-feedback"
                     *ngIf="registrationForm.controls[registrationControls.streetAddress].getError('pattern') &&
                     registrationForm.controls[registrationControls.streetAddress].touched">
                {{locales.pattern}}
              </small>
            </div>
          </div>

          <!--city-->
          <div class="col-12">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>{{locales.cityAddressTitle}}</label>
                  <input type="text"
                         class="form-control"
                         [(ngModel)]="model.cityAddress"
                         placeholder={{locales.cityAddressPlaceholder}}
                         formControlName={{registrationControls.cityAddress}}>
                  <small class="form-text custom-invalid-feedback"
                         *ngIf="registrationForm.controls[registrationControls.cityAddress].getError('required') &&
                     registrationForm.controls[registrationControls.cityAddress].touched">
                    {{locales.requiredError}}
                  </small>
                  <small class="form-text custom-invalid-feedback"
                         *ngIf="registrationForm.controls[registrationControls.cityAddress].getError('minlength') &&
                     registrationForm.controls[registrationControls.cityAddress].touched">
                    {{locales.shortError}}
                  </small>
                  <small class="form-text custom-invalid-feedback"
                         *ngIf="registrationForm.controls[registrationControls.cityAddress].getError('maxLength') &&
                     registrationForm.controls[registrationControls.cityAddress].touched">
                    {{locales.longError}}
                  </small>
                  <small class="form-text custom-invalid-feedback"
                         *ngIf="registrationForm.controls[registrationControls.cityAddress].getError('pattern') &&
                     registrationForm.controls[registrationControls.cityAddress].touched">
                    {{locales.pattern}}
                  </small>
                </div>
              </div>

              <!--zip code-->
              <div class="col">
                <div class="form-group">
                  <label>{{locales.zipCodeTitle}}</label>
                  <input type="text"
                         class="form-control"
                         [(ngModel)]="model.zipCodeAddress"
                         placeholder={{locales.zipCodePlaceholder}}
                         formControlName={{registrationControls.zipCodeAddress}}>
                  <small class="form-text custom-invalid-feedback"
                         *ngIf="registrationForm.controls[registrationControls.zipCodeAddress].getError('required') &&
                     registrationForm.controls[registrationControls.zipCodeAddress].touched">
                    {{locales.requiredError}}
                  </small>
                  <small class="form-text custom-invalid-feedback"
                         *ngIf="registrationForm.controls[registrationControls.zipCodeAddress].getError('minlength') &&
                     registrationForm.controls[registrationControls.zipCodeAddress].touched">
                    {{locales.shortError}}
                  </small>
                  <small class="form-text custom-invalid-feedback"
                         *ngIf="registrationForm.controls[registrationControls.zipCodeAddress].getError('maxLength') &&
                     registrationForm.controls[registrationControls.zipCodeAddress].touched">
                    {{locales.longError}}
                  </small>
                  <small class="form-text custom-invalid-feedback"
                         *ngIf="registrationForm.controls[registrationControls.zipCodeAddress].getError('pattern') &&
                     registrationForm.controls[registrationControls.zipCodeAddress].touched">
                    {{locales.pattern}}
                  </small>
                </div>
              </div>
            </div>
          </div>

        <!-- seperator -->
        <div class="row">
          <div class="col">
            <hr>
          </div>
        </div>

        <!-- final action buttons -->
        <div class="row justify-content-center">
          <div class="col-2">
            <button type="button" class="btn btn-primary"
                    [disabled]="!registrationForm.valid"
                    (click)="submitForm()">
              {{locales.buttonTitle}}
            </button>
          </div>
        </div>
    </form>
  </div>
</div>
